---
layout: layouts/base.njk
title: Contact
description: Get in touch with the Zouk Pirates crew.
---

<h1>Contact</h1>
<p>Reach out to the crew!</p>

<ul class="contact-links">
  <li><a href="{{ site.social.facebook }}">Facebook</a></li>
  <li><a href="{{ site.social.instagram }}">Instagram</a></li>
</ul>
