---
layout: layouts/base.njk
title: Home
---

<section class="hero">
  <h1>Zouk Pirates</h1>
  <p>
    A Boston-based trio of dancers with the mission to travel the seven seas, bringing the best of Zouk to their
    community.
  </p>
</section>

<section class="intro-links">
  <ul>
    <li><a href="/crew/">Meet the crew</a></li>
    <li><a href="/events/">Upcoming events</a></li>
    <li><a href="/policies/">Our policies</a></li>
    <li><a href="/contact/">Get in touch</a></li>
  </ul>
</section>
