---
layout: layouts/base.njk
title: Home
---

<section class="hero">
  <div class="hero-logo">{% svg "logo/zp-logo-detailed-wordmark" %}</div>
  <p>
    A Boston-based trio of dancers with the mission to travel the seven seas, bringing the best of Zouk to their
    community.
  </p>
  <div class="hero-actions">
    <a href="/events/" class="btn">Event Calendar</a>
    <a href="/contact/" class="btn">Contact</a>
  </div>
</section>
